.board {
  display: flex;
  display: grid;
  grid-template-areas: "pad pad pad";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  height: 300px;
  width: 300px;
}

.board div {
  grid-area: "pad";
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board div .cross {
  content: url(icons/close.svg);
  height: 100%;
}

.board div .circle {
  content: url(icons/shape-circle.svg);
  height: 100%;
}
