.game {
  display: flex;
  height: 400px;
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gameStatus {
  margin: 0;
}

.board {
  display: flex;
  display: grid;
  grid-template-areas: "pad pad pad";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
  width: 100%;
  aspect-ratio: 1;
  background-color: black;
}

.board div {
  grid-area: "pad";
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board div .cross {
  content: url(icons/close.svg);
  height: 100%;
}

.board div .circle {
  content: url(icons/shape-circle.svg);
  height: 100%;
}

.restartGame {
  margin: 0;
  cursor: pointer;
}

.restartGame:hover {
  text-decoration: underline;
}
